.orderCard {
  @apply block w-full rounded-md p-4 border border-solid relative my-4 flex-grow flex-shrink-0;
  flex-basis: 49%;

  &:last-child {
    @apply mb-0;
  }

  & .orderName {
    @apply text-4xl mt-4 xsm:mt-0;
  }

  & .orderTotal {
    @apply text-3xl;
  }

  & .orderStatus {
    @apply text-2xl;
    & span {
      &.fulfilled {
        @apply text-green;
      }
      @apply text-yellow-500 font-bold;
    }
  }

  & .orderProducts {
    @apply text-2xl mb-4;
  }

  & .orderDate {
    @apply absolute top-0 right-0 m-2 text-lg;
  }

  & .orderItems {
    @apply overflow-auto;
    max-height: 552px;
    scroll-margin: 1em;

    & .orderItem {
      @apply rounded-md p-4 border border-solid my-4;

      &:first-child {
        @apply mt-0;
      }

      &:last-child {
        @apply mb-0;
      }

      & .variant {
        @apply hover:underline text-lg;
      }

      & .amount {
        @apply text-lg;
      }

      & .itemImage {
        @apply xsm:inline-block xsm:mr-4 transition-transform duration-150 hover:scale-110 transform block m-auto;
      }
    }
  }
}
