.orderCard {
  @apply block w-full rounded-md p-4 border border-solid border-accents-4 relative my-4 flex-grow flex-shrink-0;
  flex-basis: 49%;

  &:last-child {
    @apply mb-0;
  }

  & .orderName {
    @apply text-4xl mt-4 mb-1 xsm:mt-0 font-bold;
  }

  & .orderSubTotal {
    @apply text-xl;
  }

  & .orderShipping {
    @apply text-xl;

    & .freeShipping {
      @apply text-green font-bold;
    }
  }

  & .orderTotal {
    @apply text-3xl;
  }

  & .ruler {
    @apply my-4;
  }

  & .orderStatus {
    @apply text-2xl;

    & span {
      @apply text-yellow-500 font-bold;

      &.fulfilled {
        @apply text-green;
      }
    }
  }

  & .orderProducts {
    @apply text-2xl mb-4;
  }

  & .orderDate {
    @apply absolute top-0 right-0 m-2 text-lg;
  }

  & .orderItems {
    @apply overflow-auto;
    max-height: 518px;

    &.atBottom .fadeout {
      @apply opacity-0;
    }

    &.atTop .fadein {
      @apply opacity-0;
    }

    & .fadein {
      @apply sticky -mt-20 h-16 w-full top-0 transition-opacity duration-300 ease-in-out z-10;
      background: -webkit-linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    & .fadeout {
      @apply sticky -mt-24 h-24 w-full bottom-0 transition-opacity duration-300 ease-in-out;
      background: -webkit-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
    }

    & .orderItem {
      @apply rounded-md p-4 border border-solid border-accents-4 my-4 transition-colors duration-200 hover:bg-gray-50;

      &:first-child {
        @apply mt-0;
      }

     &:last-of-type {
        @apply mb-0;
      }

      & .variant {
        @apply hover:underline text-lg;
      }

      & .amount {
        @apply text-lg;
      }

      & .itemImage {
        @apply xsm:inline-block xsm:mr-4 transition-transform duration-150 hover:scale-110 transform block m-auto h-128;
      }
    }
  }
}
