.orderCard {
  @apply block w-full rounded-md p-4 border border-solid border-accents-4 relative my-4 flex-grow flex-shrink-0;
  flex-basis: 49%;

  &:last-child {
    @apply mb-0;
  }

  & .orderName {
    @apply text-4xl mt-4 xsm:mt-0 font-bold;
  }

  & .orderTotal {
    @apply text-3xl;
  }

  & .orderStatus {
    @apply text-2xl;
    & span {
      &.fulfilled {
        @apply text-green;
      }
      @apply text-yellow-500 font-bold;
    }
  }

  & .orderProducts {
    @apply text-2xl mb-4;
  }

  & .orderDate {
    @apply absolute top-0 right-0 m-2 text-lg;
  }

  & .orderItems {
    @apply overflow-auto;
    max-height: 552px;

    &.atBottom .fadeout {
      @apply opacity-0;
    }

    & .fadeout {
      @apply sticky -mt-16 h-16 w-full bottom-0 transition-opacity duration-300 ease-in-out;
      background: -webkit-linear-gradient(
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 1) 100%
      );
    }

    & .orderItem {
      @apply rounded-md p-4 border border-solid border-accents-4 my-4 transition-colors duration-200 hover:bg-gray-50;

      &:first-child {
        @apply mt-0;
      }

      &:last-child {
        @apply mb-0;
      }

      & .variant {
        @apply hover:underline text-lg;
      }

      & .amount {
        @apply text-lg;
      }

      & .itemImage {
        @apply xsm:inline-block xsm:mr-4 transition-transform duration-150 hover:scale-110 transform block m-auto w-128;
      }
    }
  }
}
